<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta property="og:type" content="website" />
        <meta name="title" content="CDN Slave" />
        <meta name="description" content="Upload to Discord's CDN without needing their app." />
        <meta name="robots" content="index, follow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="English" />
        <meta name="author" content="Spinfal" />
        <meta property="og:image" content="https://cdn.spin.rip/r/4EBFE1B7-D38B-421D-9289-EA85676DDF37.jpeg" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:image" content="https://cdn.spin.rip/r/4EBFE1B7-D38B-421D-9289-EA85676DDF37.jpeg" />
        <link rel="icon" href="/favicon.ico" />
        <title>CDN Slave</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <style type="text/tailwindcss">
            @layer utilities {
                body {
                    background-color: #e1e4ed;
                }
                .hidden {
                    display: none;
                }
                ::-webkit-file-upload-button {
                    display: none;
                }
            }
        </style>
    </head>
    <body>
        <div class="container mx-auto">
            <div class="flex flex-col items-center justify-center h-screen">
                <div class="w-full max-w-md">
                    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                        <div class="mb-4">
                            <h1 class="text-2xl font-semibold text-center">CDN Slave</h1>
                            <p class="text-center text-gray-700/80 text-sm">Because Discord is our new CDN slave</p>
                        </div>
                        <div class="flex flex-col items-center">
                            <div class="-mx-3 mb-3">
                                <div class="px-3 md:mb-0">
                                    <form action="/api/upload" method="post" enctype="multipart/form-data">
                                        <div class="flex flex-col items-center">
                                            <form action="/api/upload" enctype="multipart/form-data">
                                                <label for="file" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline cursor-pointer">Choose a file</label>
                                                <input onchange="window.label.innerText = this.files[0].name" type="file" name="file" id="file" style="display: none;" required>
                                                <p class="text-gray-700/75 text-sm"><em>Maximum file size: 25MB</em></p>
                                                <button type="submit" class="mt-8 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Upload</button>
                                                <p class="text-red-800/75 text-sm">I can see everything you upload, don't be dumb</p>
                                            </form>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="p-4 bg-white rounded shadow-md md:flex md:items-center md:justify-between md:p-6 container w-full max-w-md">
                    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Made with hate by <a href="https://spin.rip/" class="hover:underline" target="_blank">Spinfal</a>
                    </span>
                    <ul class="flex flex-wrap items-center mt-3 sm:mt-0">
                        <li>
                            <a href="https://github.com/spinfal/cdn-slave" class="text-sm text-gray-500 hover:underline dark:text-gray-400" target="_blank">Source Code</a>
                        </li>
                    </ul>
                </footer>
            </div>
        </div>
        <script>
            const button = document.querySelector("body > div > div > div > div > div.flex.flex-col.items-center > div > div > form > div > button");
            const tip = document.querySelector("body > div > div > div > div > div.flex.flex-col.items-center > div > div > form > div > p.text-red-800\\/75.text-sm");
            window.label = document.querySelector("body > div > div > div > div > div.flex.flex-col.items-center > div > div > form > div > label");
            
            document.querySelector("body > div > div > div > div > div.flex.flex-col.items-center > div > div > form").addEventListener("submit", (e) => {
                const file = document.querySelector("#file");
                if (file.files[0]) {
                    if (file.files[0].size >= 8000000) {
                        e.preventDefault();
                        return tip.innerText = "Your file is over 25mb!";
                    }
                    button.classList.remove("bg-blue-500");
                    button.classList.remove("hover:bg-blue-700");
                    button.classList.add("bg-gray-500");
                    button.disabled = true;
                    button.innerText = "Uploading...";
                    setTimeout(() => button.innerText = "Must be a big file...", 6500);
                }
            });
        </script>
    </body>
</html>